* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --colorBeige: #F3EBE0;
    --colorNegro: #1E1E1E;
    --colorRosa: #FFC8C9;
    --colorNaranja: #FF6D3A;
}

/* NAV-BAR */

.bg-body-tertiary {
    background-color: var(--colorNegro) !important;
}

.nav-link {
    color: var(--colorRosa);
    text-transform: uppercase;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.10rem;
}

.nav-link:hover {
    color: var(--colorNaranja);
}

.navbar-toggler {
    background-color: var(--colorNaranja);
}

.logo {
    height: 2.5rem;
}

/* INDEX HEADER */

.index-header {
    background-color: var(--colorNegro);
    height: auto;
    padding: 1.5rem;
    border-bottom: 0.1rem solid var(--colorBeige);
}

.contenedor-index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-header-h1, .proyects-h1 {
    color: var(--colorBeige);
    text-transform: uppercase;
    font-size: 3rem;
    font-style: normal;
    font-weight: 200;
    margin-top: 1rem;
}

.index-header-h1 span {
    border-bottom: 1px solid var(--colorNaranja);
}

.index-header-h1 span:hover {
    color: var(--colorNaranja)
}

.index-header-cargo, .about-cargo {
    color: var(--colorBeige);
    font-family: "Piazzolla", serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
    line-height: 2.5rem;
    letter-spacing: -0.10rem;
}

.index-header-pais, .btn-rosa, .btn-negro {
    color: var(--colorRosa);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.10rem;
}

.index-header-img {
    width: 95%;
    max-width: 18rem;
}

/* INDEX MAIN */

.index-main {
    background-color: var(--colorNegro);
    padding: 1.5rem;
}

.index-main-h2, .index-blog-h2, .contacto-h2, .about-h2 {
    color: var(--colorBeige);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.10rem;
}

.proyect-img, .card-nota img {
    width: 100%;
    padding-top: 1rem;
}

.h-proyect, .contacto-h5 {
    color: var(--colorBeige);
    font-family: "Piazzolla", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

.proyect-list-area, footer ul {
    padding: 0px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn-hover:hover {
    font-weight: 700;
}

/*INDEX BLOG*/

.index-blog {
    background-color: var(--colorBeige);
    padding: 1.5rem;
}

.index-blog-h2, .btn-negro, .h-nota-card, .p-nota-card {
    color: var(--colorNegro);
}

.h-nota-card {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
}

.p-nota-card, .p-about {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
}

/* CONTACTO */

#contacto {
    background-color: var(--colorNaranja);
    padding: 1.5rem;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.formulario label, .btn-form {
    color: var(--colorBeige);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.10rem;
    padding-top: 1rem;
}

.btn-form {
    width: fit-content;
}

#name, #email, #message, .btn-form {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--colorBeige);
    padding: 0.5rem;
}

/* FOOTER */

footer {
    background-color: var(--colorNegro);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.logo-grande {
    width: 6rem;
    margin-bottom: 1rem;
}

/* PROYECTS */

.proyects-header, .proyects-main {
    background-color: var(--colorNegro);
    padding: 1.5rem;
}

/* ABOUT */

.about-header, .about-main, .about-experience, .about-exhibitions {
    background-color: var(--colorNegro);
    padding: 1.5rem;
}

.about-img {
    width: 95%;
    max-width: 18rem;
}

.p-about {
    color: var(--colorBeige);
}

.about-destacado {
    color: var(--colorRosa);
    text-transform: uppercase;
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    margin-top: 1rem;
}

@media (min-width: 768px) {

    .contenedor-index-header {
        flex-direction: row;
    }

    .container-proyect {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
    }

    .contenedor-notas, .container-proyect-3 {
        display: flex;
        gap: 2rem;
    }

    .contenedor-contacto {
        display: flex;
        align-items: baseline;
        gap: 8rem;
    }

    .formulario {
        width: 70%;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .contenedor-about-header {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .p-nota-card, .p-about {
        font-size: 1rem;
    }

    .about-main section, .about-experience {
        display: flex;
        align-items: baseline;
        gap: 2rem;
    }
}

@media (min-width: 992px) {
    .index-header {
        height: 100vh;
    }

    .contenedor-index-header {
        justify-content: space-between;
        height: 95vh;
        padding-bottom: 4rem;
    }

    .index-header-h1, .proyects-h1 {
        font-size: 4rem;
    }

    .index-header-cargo, .about-cargo {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .contenedor-index-header section {
        width: 70%;
    }

    .index-main section, .index-blog section {
        display: flex;
        justify-content: space-between;
    }

    .contacto-h2 {
        font-size: 3rem;
    }

    .contenedor-contacto, .about-main section, .about-experience {
        gap: 13rem;
    }

    .formulario, .about-main div, .about-experience div {
        width: 50%;
    }

    .about-cargo {
        width: 65%;
    }
}

@media (min-width: 1300px) {
    .index-header-h1, .proyects-h1, .about-destacado {
        font-size: 5rem;
    }

    .index-header-cargo, .about-cargo {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .index-header-img {
        max-width: 25rem;
    }
}