footer {
    background-color: $colorNegro;
    @extend %paddingGeneral;
    display: flex;
    flex-direction: column;
}

.logo-grande {
    width: 6rem;
    margin-bottom: 1rem;
}

footer ul {
    padding: 0px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}